/* .bookList-view {
    width: 40vh;
    height: 500vh;
    border: 1px solid red;
    overflow: hidden;
} */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 6rem;
    margin-right: 6rem; */
}

.booksText>h4 {
    font-size: 24px;
    font-weight: 500;
}

@media only screen and (min-width:769px) and (max-width:900px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .booksText>h4 {
        font-size: 22px;
        font-weight: 500;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .booksText>h4 {
        font-size: 20px;
        font-weight: 500;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .booksText>h4 {
        font-size: 20px;
        font-weight: 500;
    }
}