*{
    box-sizing:border-box;
}

body{
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: #f7f7f7;
    margin-top: 20px;
}

.header-text{
    padding: 12px 0;
    background-color: #ffffff;
    font: normal normal bold 18px/20px Roboto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid #008CFF;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid #008CFF;
    width:80%;
}

.logo-img{
    border: solid 0px #42515f;
}

.address-text {
    text-align: left;
    font: normal normal bold 18px/20px Montserrat;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: uppercase;
    size: 22px;
}

.book-text {
    top: 25px;
    text-align: left;
    font: normal normal bold 18px/20px Montserrat;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: uppercase;
}

.heading {
    text-align: center;
    text-transform: uppercase;
    background: #008CFF;
    padding: 20px 0px;
    color: #ffffff;
    font: normal normal bold 18px/20px Montserrat;
    max-width: 600px;
    margin: 0px auto;
    margin-top: 20px;
}

.close {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid #008CFF;
    font: 25px Arial, sans-serif;
    float: right;
    cursor: pointer;
    margin-right: 20px;
    color: #008CFF;
    opacity: 1;
}

.form {
    width: 100%;
    padding: 45px 60px;
    padding-bottom: 100px;
    margin-top: 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #f5f5f5;
    border-radius: 8px;
    opacity: 1;
    justify-content: center;
    max-width: 600px;
    margin: 0px auto;
}

label {
    display: inline-block;
    min-width: 140px;
}

.text {
    font-size: 18px;
    color: #42525f;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    margin-top: 5px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid#bdbdbd;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
    margin-top: 5px;
}

error-output {
    font-size: 15px;
    font-style: bold;
    color: red;
}

.btn-row {
    float: right;
}

.submit-btn {
    margin: 0px auto;
    justify-content: space-between;
    font-size: 15px;
    font-family: Roboto;
    letter-spacing: 0px;
    opacity: 1;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    padding: 10px 45px;
    color: #42515F;
    border: 1px solid #969696;;
    border-radius: 5px;
    cursor: pointer;
}

.reset-btn {
    margin: 0px auto;
    justify-content: space-between;
    font-size: 15px;
    font-family: Roboto;
    letter-spacing: 0px;
    opacity: 1;
    background: #E2E2E2 0% 0% no-repeat padding-box;
    padding: 10px 45px;
    color: #42515F;
    border: 1px solid #969696;;
    border-radius: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 960px) {
    .cancelButton {
        margin-left: 0px;
    }
    .form {
        width: 85%;
        padding: 44px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .form {
        margin-top: 10px;
    }
    .row {
        flex-direction: column;
    }
    .uploadButton {
        justify-content: flex-start;
    }
    .profile-radio-button {
        flex-flow: wrap;
    }
    .submit-reset {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .submitButton {
        margin: 0;
    }
    .buttonParent {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}

*{
    box-sizing:border-box;
}

body{
    margin: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: #f7f7f7;
    margin-top: 20px;
}

.header{
    padding: 12px 0;
    background-color: #ffffff;
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid #008CFF;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width:80%;
}

.logo-content-img{
    border: solid 0px #42515f;
}

.address-text{
    font: normal normal bold 18px/20px Montserrat;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform:capitalize;
}

.address-book{
    font: normal normal bold 18px/20px Montserrat;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0px;
    color: #42515F;
    text-transform:capitalize;
}

.headerContainer {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background: rgb(71, 135, 255);
    font-weight: bold;
    margin-bottom: 20px;
    height: 50px;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    margin: 0px auto;
    color: #ffffff;
    margin-top: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    background-color: #f7f7f7;
    padding: 30px 0 10px;
    box-sizing: border-box;
}

.sub-main-content{
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.address-detail-text {
    font: normal normal bold 22px/25px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
}

.address-count {
    background-color: #328ef8;
    color: #ffffff;
    border-radius: 50%;
    font-size: 20px;
    width: 40px;
    text-align: center;
    display: inline-block;
}

.add-button {
    font-size: 21px;
    font-family: Roboto;
    color: #ffffff;
    min-width: 145px;
    padding: 7px 7px;
    padding-top: 12px;
    cursor: pointer;
    background: #008CFF 0% 0% no-repeat padding-box;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
}

.table-main {
    width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    min-width: 800px;
}

td,th {
    text-align: left;
    padding: 5px 8px;
}

th {
    /* background: #42515f; */
    border-radius: 3px 3px 0px 0px;
    text-align: left;
    font: normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    /* text-transform: uppercase; */
    opacity: 1;
    border: 0px solid #dddddd;
}

tr:not(:first-child){
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}

td {
    font: normal normal normal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #3d3d3d;
    opacity: 1;
}

td:first-child {
    display: flex;
    align-items: center;
}

td img:first-child {
    margin-right: 10px;
}

td img {
    cursor: pointer;
}

.dept-label {
    background-color: #e9fea5;
    border-radius: 40%;
    width: fit-content;
    padding: 1px 7px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    font-weight: 300;
    margin-bottom: 8px;
}

@media only screen and (max-width: 960px) {
    .cancelButton {
        margin-left: 0px;
    }
    .form {
        width: 85%;
        padding: 44px 20px;
    }
}

@media only screen and (max-width: 600px) {
    .form {
        margin-top: 10px;
    }
    .row {
        flex-direction: column;
    }
    .uploadButton {
        justify-content: flex-start;
    }
    .profile-radio-button {
        flex-flow: wrap;
    }
    .submit-reset {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .submitButton {
        margin: 0;
    }
    .buttonParent {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}